body,
html {
  width: 100%;
}

table {
  background-color: #b0e0e6;
  border: none;
}

thead {
  background-color: #d2d2c6;
}

th,
td {
  white-space: nowrap;
  padding: 10px;
  text-align: center !important;
  color: black !important;
}

.table > :not(caption) > * > * {
  background-color: transparent;
  border: none;
}

h1,
p {
  margin-top: 64px;
  margin-bottom: 16px;
}

.scrollable-table {
  max-height: 350px; /* Adjust this value as needed */
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
}

.low-score {
  background-color: #ff9999; /* Light red for low scores */
}

.medium-score {
  background-color: #ffff99; /* Light yellow for medium scores */
}

.high-score {
  background-color: #99ff99; /* Light green for high scores */
}
.footer p {
  text-align: center;
}
.footer p span {
  text-decoration: underline;
  color: #0000ff;
}
